<div class="container">
  <div class="main">
    <div class="row">

      <div class="col-md-4 p-m-0">
        <div class="square right" id="square1" (click)="game('img1')">
          <img src="" alt="img" id="img1">
        </div>
      </div>

      <div class="col-md-4 p-m-0">
        <div class="square right" id="square2" (click)="game('img2')">
          <img src="" alt="img" id="img2">
        </div>
      </div>

      <div class="col-md-4 p-m-0">
        <div class="square " id="square3" (click)="game('img3')">
          <img src="" alt="img" id="img3">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 p-m-0">
        <div class="square right top" id="square4" (click)="game('img4')">
          <img src="" alt="img" id="img4">
        </div>
      </div>

      <div class="col-md-4 p-m-0">
        <div class="square right top" id="square5" (click)="game('img5')">
          <img src="" alt="img" id="img5">
        </div>
      </div>

      <div class="col-md-4 p-m-0">
        <div class="square top" id="square6" (click)="game('img6')">
          <img src="" alt="img" id="img6">
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4 p-m-0">
        <div class="square right top" id="square7" (click)="game('img7')">
          <img src="" alt="img" id="img7">
        </div>
      </div>

      <div class="col-md-4 p-m-0">
        <div class="square right top" id="square8" (click)="game('img8')">
          <img src="" alt="img" id="img8">
        </div>
      </div>

      <div class="col-md-4 p-m-0">
        <div class="square top" id="square9" (click)="game('img9')">
          <img src="" alt="img" id="img9">
        </div>
      </div>

    </div>

  </div>
</div>
<router-outlet></router-outlet>
